@import "tailwindcss";

@theme {
  --color-telegram: #24a1de;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

/* Evitar scroll horizontal por los brillos */
body {
  overflow-x: hidden;
  background: black;
}
